mixin footer
  .container
    p.pull-right
      a(href="#") Back to top

    small
      | Based on
      |
      a(href="https://github.com/matejsvajger/scffld") scffld
      | . Licensed under MIT
      |
      i.fa.fa-copyright
      |  2017
