extends ../_bootstrap/mixins

include ../_modules/modules

block template
  doctype html
  html(lang='de')

    head
      meta(charset='utf-8')
      meta(name="author", content="")
      meta(name="description", content="")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      link(rel="icon", href="/favicon.ico")

      title=site.data.demo.title

      block stylesheets
        link(rel='stylesheet', href=config.directories.styles.dist + '/main.css')

    body(data-spy="scroll",data-target=".scrollspy")

      .app
        block header
          header
            +header()

        main
          block content

        block footer
          footer
            +footer()

      block scripts
        script(src= config.directories.scripts.dist + '/main.js')
