/**
 * Application base font-size. Also affects
 * all bootstrap font sizes.
 */

$font-size-base: 14px;

/**
 * Updated Slick and Glyphicon font paths
 */
$icon-font-path: "../fonts/";
$slick-font-path:   "../fonts/";
$slick-loader-path: "../images/";
